/*
	GLOBAL
*/

:root {
  --bg: #111;
  --bgLess: #222;
  --fg: #fff;
  --accent: #FFFCEC;
}

/* Center content and give it a max width */
body {
	font-family: Inter, sans-serif;
	padding: 2ch;
	max-width: 80ch;
	margin: 0 auto;
	background: var(--bg);
	color: var(--fg);
}

p, li {line-height: 1.5em;}

/* Navbar */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2ch;
}

/* Logo positioning against logotype */
.logo {
    display: flex;
    justify-content: left;
    align-items: center;
}

/* Nav item positioning; fix wrap for narrow display */
header nav {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    align-items: center;
}

/* Space out stuff in navbar */
.logo > * {margin-right: 0.4em;}
header nav > * {margin-left: 0.4em;}

/* Link decor */
a {
	color: var(--fg);
	text-decoration: none;
}

a:hover {
	background: var(--accent);
	color: var(--bg);
}

/*
	MEMBER GRID
*/

.memberGrid {
	display: grid;
	grid-gap: 1em;
	max-width: inherit;
	grid-template-columns: repeat(auto-fit, minmax(10em, auto));
	justify-content: center;
}

.card {
	background: var(--bgLess);
	flex-direction: column;
	border-radius: 0.5em;
}

.card > * {
	width: 100%;
	border-radius: 0.5em 0.5em 0 0;
}

.card > p {
	text-align: center;
	margin: 0.5em 0;
	font-weight: bold;
}

/*
	PROFILE PAGE
*/

/* Create flex to prevent stretching of userLinks */
.content {
	display: flex;
	flex-direction: column;
}

/* Create nested flexboxes for different sections */
.member, .userLinks {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	margin: 0 -2ch;
}

/* Space out horizontal elements in flexboxes */
.member > *, .userLinks > * {
	margin: 0 2ch;
}

/* Standardize widths for info and avatar to fix wrapping */
.member > .avatar {
	width: 20ch;
	border-radius: 0.5em;
}

.member > .info {
	max-width: 56ch;
}

/* Vertically aLign username with profile picture */
.info > h1 {
	margin-top: 0;
}

/* Background for links */
.userLinks {
	background: #222;
	padding: 0.5em;
	border-radius: 2em;
	align-self: center;
}

/* User link icons */
.userLinks a, .userLinks img {
	height: 1.5em;
}

.userLinks a:hover {
	opacity: 0.5;
	background: none;
}

/* Shadows */
.userLinks, .card:hover {
	box-shadow: 0 0.5em 1em black;
}

@media (prefers-color-scheme: light) {
	:root {
		--fg: #000;
		--bg: #eee;
		--bgLess: #fff;
		--accent: #222;
	}
}